.Auth {
    width: 40%;
    margin: 20px auto;
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px #eee;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }
}